.pokemonInfo {
  display:inline-block;
  margin: 1rem;

  border: 1px gray solid;
  padding: 0.5rem 1rem;
}

.pokemonInfo .name
{
  font-size: large;
}

.pokemonInfo .level
{
  text-align: center;
}



.pokemonInfo .hitPoints {
  width:10vw;
  min-height: 1rem;
  display: grid;
  border: 1px solid black;
  border-radius: 5px;

 
}

.hitPoints .remaining {
  background:green;
  width:100%;
  height:100%;
}

html, body, #root
{
  height:100%;
  min-height:100%;
}
body:before, body:after {
  content: "";
  position: fixed;
  background: gray;
  left: 0;
  right: 0;
  height: 10px;
}
body:before {
  top: 0;
}
body:after {
  bottom: 0;
}
body {
  border-left: 10px solid gray;
  border-right: 10px solid gray;  
}

.battleScreen
{
  display:flex;
  flex-direction: column;

  height:100%
}

.battleScreen>.top
{
  flex-grow: 70;
  position: relative;
}

.battleScreen>.bottom
{
  border-top: 1px solid gray;
  flex-grow: 30
}

.battleScreen .top .pokemonInfo:last-child
{
  position:absolute;
  bottom:0;
  right:0;
}

.battleScreen>.bottom
{
  display:flex;
}

.battleScreen>.bottom>.divider
{
  flex-grow:5;
  
}

.battleScreen>.bottom>.attacks
{
  flex-grow:55;
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.battleScreen>.bottom>.actions
{
  flex-grow:35;
  display:grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

